.dashboard-container-add {
  margin: 20px auto;
  padding: 20px;
  font-family: "Segoe UI", Roboto, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form.add-transaction-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-transaction-back:hover {
  background-color: red;
  color: white;
}

.dashboard-container-add select {
  border-radius: 8px;
}

.dashboard-container-add select option {
  transition: all ease-in 0.1s;
  border-radius: 8px;
}
.dashboard-container-add select option:hover {
  background-color: green;
}

button.add-btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: all 0.2s ease;
}

button.add-btn-disabled {
  background-color: gray;
  color: white;
  border-radius: 10px;
  transition: all 0.2s ease;
}
button.add-btn:hover {
  background-color: gray;
}

.dashboard-link {
  background-color: #9810fa;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  transition: all ease 0.2s;
}

.dashboard-link:hover {
  background-color: rgb(90, 11, 90);
}
