/* Dashboard.css */
.dashboard-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.welcome-text {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.date-text {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.logout-btn {
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s;
}

.logout-btn:hover {
  opacity: 0.8;
}

.balance-card {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(118, 75, 162, 0.3);
  position: sticky;
}

.balance-amount {
  margin: 10px 0 0 0;
  font-size: 32px;
}

.section-option {
  justify-content: center;
  display: flex;
}
.section-option a {
  background-color: dodgerblue;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background-color ease-in 0.1s;
}

.section-option a:hover {
  background-color: orange;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
  height: 70vh;
}

.transaction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.card-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.icon-in {
  background-color: #e6fffa;
  color: #38b2ac;
}
.icon-out {
  background-color: #fff5f5;
  color: #e53e3e;
}

.description {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.type-tag {
  margin: 0;
  font-size: 11px;
  color: #aaa;
  font-weight: bold;
}
.type-date {
  color: gray;
}
.amount {
  font-weight: bold;
  font-size: 16px;
}
.amount-in {
  color: #38b2ac;
}
.amount-out {
  color: #e53e3e;
}

.delete-btn {
  color: white;
  background-color: rgb(240, 79, 79);
  padding: 10px 10px;
  transition: all ease-in 0.1s;
}

.delete-btn:hover {
  background-color: rgb(243, 0, 0);
}
.loading-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.empty-text {
  text-align: center;
  color: #999;
  margin-top: 20px;
}
