.forgot-container,
.register-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f8f9fa;
}

.forgot-card,
.register-card {
  background-color: white;
  min-width: 20%;
  min-height: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
form.forgot-form,
form.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form input {
  margin: 10px 0;
}
input {
  border-radius: 8px;
  border: 2px solid rgba(146, 146, 146, 0.315);
  padding: 5px 10px;
  size: 20%;
}
input:focus {
  outline: none;
}
button.forgot-btn,
button.register-btn {
  background-color: dodgerblue;
  border: none;
  border-radius: 8px;
  padding: 10px 5px;
  color: white;
  cursor: pointer;
}

.forgot-not-have-acc,
.forgot-have-acc {
  text-decoration: none;
  color: gray;
  transition: all ease 0.2s;
}
.forgot-have-acc:hover,
.forgot-not-have-acc:hover {
  color: black;
}

button.reset-visible {
  position: absolute;
  top: 55.8%;
  right: 38.1px;
  transform: translateY(-50%);
  background: none;
  border-width: medium;
  border-style: none;
  border-color: currentcolor;
  border-image: initial;
  cursor: pointer;
}
@media (max-width: 600px) {
  h1,
  h2,
  h3,
  p {
    font-size: 100%;
  }

  button.reset-visible {
    position: absolute;
    top: 49.1%;
    right: 37px;
    transform: translateY(-50%);
    background: none;
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: initial;
    cursor: pointer;
  }

  button.reset-pass-visible {
    position: absolute;
    top: 50.5%;
    right: 39.1px;
    transform: translateY(-50%);
    background: none;
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: initial;
    cursor: pointer;
  }
}
