.login-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f8f9fa;
}

.login-card {
  background-color: white;
  min-width: 20%;
  min-height: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 8px;
  border: 2px solid rgba(146, 146, 146, 0.315);
  padding: 5px 10px;
  size: 20%;
}
input:focus {
  outline: none;
}
button {
  background-color: dodgerblue;
  border: none;
  border-radius: 8px;
  padding: 10px 5px;
}
