.recharts-surface {
  width: 80%;
}

.recharts-legend-wrapper {
  position: relative !important;
}

.chart-section-1 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .chart-section-1 {
    display: none;
  }
}
